<% content_for :chart do %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick", "highcharts" %>
<%end%>
<div class="content">
  <div class="col-lg-12">
    <div class="body-panel">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-12">
            <%= column_chart @orders.group("products.name").where("products.featured = ? AND order_statuses.id = 2", true).sum(:quantity), label: 'Quantidade', library:{title:{text:'Produtos mais vendidos em destaque'}} %>
          </div>
          <div class="col-lg-12">
            <%= column_chart @orders.where("order_statuses.id =  2").group("products.name").sum(:total_price), label: 'R$', library:{title:{text:'Produtos mais vendidos em R$'}} %>
          </div>
                    
          <div class="col-lg-6 border-shadow">
            <%= pie_chart({"Total": @orders.where("products.promotional_price > 0 AND order_statuses.id = 2 ").sum(:quantity), "Mês": @orders.where("products.promotional_price > 0 AND order_items.updated_at BETWEEN (?) AND (?) AND order_statuses.id = 2", Date.today.beginning_of_month, Date.today.end_of_month).order("SUM('order_items'.'quantity')").sum(:quantity), "Semana": @orders.where("products.promotional_price > 0 AND order_items.updated_at BETWEEN (?) AND (?) AND order_statuses.id = 2", Date.today.beginning_of_week, Date.today.end_of_week).order("SUM('order_items'.'quantity')").sum(:quantity), "Hoje": @orders.where("products.promotional_price > 0 AND order_items.updated_at BETWEEN ? AND ? AND order_statuses.id = 2", Time.now.beginning_of_day, Time.now.end_of_day).order("SUM('order_items'.'quantity')").sum(:quantity)}, label: 'Mais vendidos em promoção', library:{title:{text:'Mais vendidos em promoção'}}) %>
          </div>
          <div class="col-lg-6 border-shadow">
            <%= pie_chart({"Total": @orders.where("products.sale_price > 0 AND order_statuses.id = 2").sum(:quantity), "Mês": @orders.where("products.sale_price > 0 AND order_items.updated_at BETWEEN (?) AND (?) AND order_statuses.id = 2", Date.today.beginning_of_month, Date.today.end_of_month).order("SUM('order_items'.'quantity')").sum(:quantity), "Semana": @orders.where("products.sale_price > 0 AND order_items.updated_at BETWEEN (?) AND (?) AND order_statuses.id = 2", Date.today.beginning_of_week, Date.today.end_of_week).order("SUM('order_items'.'quantity')").sum(:quantity), "Hoje": @orders.where("products.sale_price > 0 AND order_items.updated_at BETWEEN ? AND ? AND order_statuses.id = 2", Time.now.beginning_of_day, Time.now.end_of_day).order("SUM('order_items'.'quantity')").sum(:quantity)}, label: 'Mais vendidos com preço normal', library:{title:{text:'Mais vendidos com preço normal'}}) %>
          </div>
          
          <div class="col-lg-6">
            <%= pie_chart({"Carrinhos Abandonados": Order.where(order_status_id: 1).sum(:order_status_id), "Pagamentos": Order.where(order_status_id: 2).sum(:order_status_id)}, label: 'Quantidade', library:{title:{text:'Status dos Pedidos/Carrinhos'}}) %>
          </div>
          <div class="col-lg-6">
            <%= pie_chart({"SEDEX": Order.where('orders.shipping_name = ?', "SEDEX").count, "PAC":Order.where('orders.shipping_name = ?', "PAC").count}, label: 'Quantidade', library:{title:{text:'Entregas mais usadas'}}) %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
