<div class=oxy-section>
   <div class=oxy-section__content>
      <div class="rev_slider_wrapper fullwidthbanner-container">
         <div id=homepage-slider class=rev_slider data-version=5.0>
            <ul>
               <li data-title="Slide 1" data-index=slide-1 data-thumb="<%=image_url('slide-full-maquiagem-1.jpg')%>">
                  <img src="<%=image_url('slide-full-maquiagem-1.jpg')%>" alt="Slide 1" data-bgposition="center top" data-kenburns=on data-duration=7000 data-scalestart=100 data-scaleend=110 data-offsetstart="-50 100" data-offsetend="100 -150" data-bgfit=105 data-bgfitend=100 data-bgpositionend="center bottom">
                  <div class="tp-caption tp-resizeme mdl-typography--display-3 mdl-typography--font-thin" data-x=left data-hoffset=500 data-y=top data-voffset=250 data-transform_in=o:0;e:Power4.easeIn; data-transform_idle=o:1;s:1000; data-transform_out=o:0;s:500;e:Power4.easeOut; data-start=1000>Feira dos Cosméticos</div>
                  <div class="tp-caption tp-resizeme" data-x=left data-y=top data-hoffset=500 data-voffset=335 data-start=1500 data-transform_in=o:0;e:Power1.easeIn; data-transform_idle=o:1;s:500; data-transform_out=o:0;s:500;e:Power4.easeOut; style="height: 1px; width: 200px;background: #000;"></div>
                  <div class="tp-caption tp-resizeme mdl-typography--title mdl-typography--font-light" data-x=left data-y=top data-hoffset=500 data-voffset=360 data-start=2000 data-transform_in=o:0;e:Power4.easeIn; data-transform_idle=o:1;s:600; data-transform_out=o:0;s:600;e:Power1.easeOut;>
                     <p style="font-size: 21px; line-height: 1.5">NOVIDADES todos os dias. Aproveite!<br>Sâo mais de 1000 produtos para você escolher.<br><strong>Frete Grátis</strong> em mais de 50 produtos.<br></p>
                  </div>
                  <div class="tp-caption tp-resizeme tp-caption-mdl-button mdl-button mdl-button--raised mdl-button--colored" data-x=left data-y=top data-hoffset=500 data-voffset=480 data-start=3000 data-transform_in=o:0;y:100; data-transform_idle=x:0;o:1;s:600; data-transform_out=o:0;s:800;e:Power1.easeOut;><a href="<%=url_for(shops_path)%>" style="color: #fff;">Catálogo</a></div>
               </li>
               <li data-title="Slide 2" data-index=slide-2 data-thumb="<%=image_url('carrousel_model_1.jpg')%>">
                  <img src="<%=image_url('carrousel_model_1.jpg')%>" alt="slide2" data-bgposition="left top" data-kenburns=on data-duration=7000 data-scalestart='100' data-scaleend='115' data-offsetstart="250 100" data-offsetend="-150 -50" data-ease="Linear.easeNone" data-bgfit='110' data-bgfitend='100' data-bgpositionend="left bottom">
                  <div class="tp-caption tp-resizeme mdl-typography--display-3 mdl-typography--font-thin oxy-color-light" data-x=left data-y=top data-hoffset=720 data-voffset=250 data-start=1000 data-transform_in=o:0; data-transform_idle=o:1;s:1000; data-transform_out=o:0;s:600;>VERÃO 2016</div>
                  <div class="tp-caption tp-resizeme" data-x=left data-y=top data-hoffset=720 data-voffset=335 data-start=1000 data-transform_in=o:0; data-transform_idle=o:1;s:800; data-transform_out=o:0;s:600; style="height: 1px; width: 100px;background: #fff;"></div>
                  <div class="tp-caption tp-resizeme mdl-typography--title mdl-typography--font-light oxy-color-light" data-x=left data-y=top data-voffset=360 data-hoffset=720 data-start=2000 data-transform_in=o:0; data-transform_idle=o:1;s:800; data-transform_out=o:0;s:600;>
                     <p style="font-size: 21px; line-height: 1.5">Arrase neste verão<br>com uma pele bem cuidada.<br>Conheça nossos lançamentos.<br></p>
                  </div>
                  <div class="tp-caption tp-resizeme tp-caption-mdl-button mdl-button mdl-button--raised mdl-button--accent" data-x=left data-y=top data-hoffset=720 data-voffset=480 data-start=3000 data-transform_in=o:0;y:100; data-transform_idle=x:0;o:1;s:600; data-transform_out=o:0;s:600;><a href="<%=url_for(shops_path)%>" style="color: #fff;">Produtos</a></div>
               </li>
               <li data-title="Slide 3" data-index=slide-3 data-thumb="<%=image_url('carrousel_model_product.jpg')%>">
                  <img src="<%=image_url('carrousel_model_product.jpg')%>" alt="Slide 3" data-bgposition="left center" data-kenburns=on data-duration=7000 data-scalestart=100 data-scaleend=115 data-offsetstart="-150 -200" data-offsetend="350 -450" data-ease=Linear.easeNone data-bgfit=110 data-bgfitend=100 data-bgpositionend="left center">
                  <div class="tp-caption tp-resizeme mdl-typography--display-3 mdl-typography--font-thin" data-x=left data-y=top data-hoffset=550 data-voffset=250 data-start=1000 data-transform_in=o:0; data-transform_idle=o:1;s:1000; data-transform_out=o:0;s:600;>OFERTA LOUCA!</div>
                  <div class="tp-caption tp-resizeme" data-x=left data-y=top data-hoffset=550 data-voffset=335 data-start=1500 data-transform_in=o:0; data-transform_idle=o:1;s:800; data-transform_out=o:0;s:600; style="height: 1px; width: 200px;background: #000;"></div>
                  <div class="tp-caption tp-resizeme mdl-typography--title mdl-typography--font-light" data-x=left data-y=top data-hoffset=550 data-voffset=360 data-start=2000 data-transform_in=o:0; data-transform_idle=o:1;s:800; data-transform_out=o:0;s:600;>
                     <p style="font-size: 21px; line-height: 1.5">Aproveite nossa queima de estoque e se <br>proteja neste verão.<br> Diversas marcas de Protetores Solares<br> Escolha já o seu!<br></p>
                  </div>
                  <div class="tp-caption tp-resizeme tp-caption-mdl-button mdl-button mdl-button--raised mdl-button--colored" data-x=left data-y=top data-hoffset=550 data-voffset=515 data-start=3000 data-transform_in=o:0;y:100; data-transform_idle=x:0;o:1;s:600; data-transform_out=o:0;s:600;><a href="<%=url_for(shops_path)%>" style="color: #fff;">Ofertas</a></div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>