<% # COMENTÁRIOS%>

<div class="oxy-section oxy-margin-bottom-40">
   <div class="oxy-section__content">
      <div class="mdl-grid mdl-grid--no-fullwidth">
         <div class="mdl-cell mdl-cell--12-col oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.1s>
            <h2 class="mdl-typography--display-1 mdl-typography--text-center mdl-typography--font-light oxy-margin-top-40 oxy-margin-bottom-20">Comentários</h2>
            <div class="oxy-divider oxy-divider--center oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.2s>
               <div class="oxy-divider__border"></div>
            </div>
         </div>
      </div>
      <div class="mdl-grid mdl-grid--no-fullwidth">
         <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp oxy-card-testimonial oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.1s>
               <div class="mdl-card__media oxy-card-testimonial__media">
                  <div class="oxy-card-testimonial__avatar"><img src="<%=image_url('avatar-4-notinclude.jpg')%>" alt=avatar></div>
                  <div class="oxy-card-testimonial__text">Motion respects and reinforces the user as the prime mover. Primary user actions are inflection points that initiate motion, transforming the whole design.</div>
                  <div class="mdl-card__title oxy-card-testimonial__title"><a href=post.html>Ann Nickolson</a> <span>Senior, Amazon.com</span></div>
               </div>
            </div>
         </div>
         <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp oxy-card-testimonial oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.2s style=background-color:#ab46bc;>
               <div class="mdl-card__media oxy-card-testimonial__media">
                  <div class="oxy-card-testimonial__avatar"><img src="<%=image_url('avatar-5-notinclude.jpg')%>" alt=avatar></div>
                  <div class="oxy-card-testimonial__text">Surfaces and edges of the material provide visual cues that are grounded in reality.The use of familiar tactile attributes helps users quickly understand affordances.</div>
                  <div class="mdl-card__title oxy-card-testimonial__title"><a href=post.html>Jack Samuel</a> <span>CEO, Amazon.com</span></div>
               </div>
            </div>
         </div>
         <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp oxy-card-testimonial oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.3s style=background-color:#7e57c2;>
               <div class="mdl-card__media oxy-card-testimonial__media">
                  <div class="oxy-card-testimonial__avatar"><img src="<%=image_url('avatar-6-notinclude.jpg')%>" alt=avatar></div>
                  <div class="oxy-card-testimonial__text">Motion is meaningful and appropriate, serving to focus attention and maintain continuity. Feedback is subtle yet clear. Transitions are efﬁcient yet coherent.</div>
                  <div class="mdl-card__title oxy-card-testimonial__title"><a href=post.html>Christofer Doe</a> <span>Senior, Amazon.comfat</span></div>
               </div>
            </div>
         </div>
         <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp oxy-card-testimonial oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.1s style=background-color:#e65100;>
               <div class="mdl-card__media oxy-card-testimonial__media">
                  <div class="oxy-card-testimonial__avatar"><img src="<%=image_url('avatar-3-notinclude.jpg')%>" alt=avatar></div>
                  <div class="oxy-card-testimonial__text">The foundational elements of print-based design—typography, grids, space, scale, color, and use of imagery—guide visual treatments.</div>
                  <div class="mdl-card__title oxy-card-testimonial__title"><a href=post.html>Kate Jettings</a> <span>CEO, Amazon.com</span></div>
               </div>
            </div>
         </div>
         <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp oxy-card-testimonial oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.2s style=background-color:#fcc02c;>
               <div class="mdl-card__media oxy-card-testimonial__media">
                  <div class="oxy-card-testimonial__avatar"><img src="<%=image_url('avatar-1-notinclude.jpg')%>" alt=avatar></div>
                  <div class="oxy-card-testimonial__text">Yet the flexibility of the material creates new affordances that supercede those in the physical world, without breaking the rules of physics.</div>
                  <div class="mdl-card__title oxy-card-testimonial__title"><a href=post.html>Jack Samuel</a> <span>CEO, Amazon.com</span></div>
               </div>
            </div>
         </div>
         <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp oxy-card-testimonial oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.3s style=background-color:#c0ca33;>
               <div class="mdl-card__media oxy-card-testimonial__media">
                  <div class="oxy-card-testimonial__avatar"><img src="<%=image_url('avatar-2-notinclude.jpg')%>" alt=avatar></div>
                  <div class="oxy-card-testimonial__text">The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other.</div>
                  <div class="mdl-card__title oxy-card-testimonial__title"><a href=post.html>Christofer Doe</a> <span>Senior, Amazon.com</span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>